<div class="person-edit">
  <h1>{{ isEdit ? 'Edit Person' : 'Create Person' }}</h1>
  <form (ngSubmit)="saveRecord()">
    <label>
      Name:
      <input [(ngModel)]="record.name" name="name" required />
    </label>
    <label>
      Age:
      <input [(ngModel)]="record.age" name="age" type="number" required />
    </label>
    <label>
      Street:
      <input [(ngModel)]="record.address.street" name="street" />
    </label>
    <label>
      City:
      <input [(ngModel)]="record.address.city" name="city" />
    </label>
    <label>
      State:
      <input [(ngModel)]="record.address.state" name="state" />
    </label>
    <label>
      Zip:
      <input [(ngModel)]="record.address.zip" name="zip" />
    </label>
    <button type="submit">Save</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </form>
</div>